.page {
    background-color: black;
    color: #ffffff;
    max-width: 880px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
}
* {
    outline-width: 1px;
    outline-style: solid;
    outline-color: red;
  }