.page {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Inter', Arial, sans-serif;
  max-width: 880px;
  margin: 0 auto;
}
<<<<<<< HEAD
=======

>>>>>>> origin/features-profile
* {
    outline-width: 1px;
    outline-style: solid;
    outline-color: red;
  }