.popup__data {
    width: 100%;
    border: none;
    
    text-align: start;
    padding-bottom: 13px;
    box-sizing: border-box;
    
    
    
}

.popup__data:focus {
    color: #000000;
    opacity: 1;
}





